/* Globale stijl */
body {
    background-color: #006445;
    font-family: 'Barlow', sans-serif;
    /* Voeg het Barlow-lettertype toe */
}

/* Navigatiestijl */
.navigation {
    background-color: #004d34;
    /* Change the background color to a slightly darker green */
    padding: 10px;
    display: flex;
    /* BEGIN: Voeg flex display toe */
    justify-content: space-between;
    /* BEGIN: Verspreid links over de breedte */
    color: #fff;
    /* Voeg kleur toe die overeenkomt met de achtergrondkleur */
}

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation a {
    display: flex;
    text-decoration: none;
    color: #dbff4a;
    /* Stel de linkkleur in op #dbff4a */
    padding: 5px;
}

.navigation a:hover {
    background-color: #333;
    color: #fff;
}

/* Stijl voor schoolfoto */
.school-photo {
    width: 200px;
    height: 75px;
    margin-left: 5px;
    /* Pas de margin-left aan om de foto iets naar links te verplaatsen */
    position: absolute;
    top: 0;
    /* Pas de bovenste positie aan om de foto hoger te verplaatsen */
    right: 10px;
    z-index: 1;
    /* Voeg z-index toe om ervoor te zorgen dat de foto bovenop de navigatie staat */
}

.inschrijf-info {
    background-color: #004d34;
    /* Change the background color to a slightly darker green */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    /* Verklein de breedte van de box shadow */
    display: flex;
    flex-direction: column;
    /* Toon de inhoud in een kolom */
    align-items: center;
    /* Centreer de inhoud verticaal */
    max-width: 800px;
    /* Stel een bredere maximale breedte in voor het element */
    margin-left: auto;
    margin-right: auto;
    /* Centreer het element horizontaal */
    margin-right: auto;
    /* Centreer het element horizontaal */
}

.inschrijf-info h2 {
    color: #f2f2f2;
    margin-bottom: 10px;
}

.inschrijf-info p {
    color: #fff;
    line-height: 1.5;
}

.question {
    margin-bottom: 20px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

.submit-btn {
    margin-top: 20px;
    background-color: #dbff4a;
    /* Stel de achtergrondkleur in op #dbff4a */
}

.quiz-container {
    background-color: #004d34;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    /* Verklein de breedte van de box shadow */
    display: flex;
    flex-direction: column;
    /* Toon de inhoud in een kolom */
    align-items: center;
    /* Centreer de inhoud verticaal */
    max-width: 800px;
    /* Stel een bredere maximale breedte in voor het element */
    margin-left: auto;
    /* Centreer het element horizontaal */
    margin-right: auto;
    /* Centreer het element horizontaal */
    color: #006445;
    /* Stel de tekstkleur in op de achtergrondkleur */
}

.quiz-container h1 {
    color: #dbff4a;
    /* Stel de kleur van de titel in op #dbff4a */
}
.quiz-container h2 {
    color: #dbff4a;
    /* Stel de kleur van de titel in op #dbff4a */
}

.quiz-container .question {
    color: #dbff4a;
    /* Stel de kleur van de vraag in op #333 */
}

.quiz-container .options li {
    color: #16b180;
}

/* Aanvullende stijl */
.content {
    background-color: #004d34;
    /* Update de achtergrondkleur naar #a3ff8a (minder fel groen) */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    /* Voeg marge toe om ruimte te creëren tussen de inhoud en de header */
    color: #fff;
    /* Stel de tekstkleur in op wit */
}

.page-links {
    color: #dbff4a;
    /* Stel de linkkleur in op #dbff4a */
    text-decoration: none;
    /* Verwijder de onderstreping van de links */
    margin-right: 10px;
    /* Voeg marge toe om ruimte te creëren tussen de links */
    font-weight: bold;
}

.page-links:hover {
    text-decoration: underline;
    color: #dbff4a;
    /* Voeg onderstreping toe bij hover */
}
.inschrijf-info a {
    color: #dbff4a;
    text-decoration: none;
}
.inschrijf-info a:hover {
    color: #18c991;
}

.countdown {
    font-size: 24px;
    font-weight: bold;
    color: #dbff4a;
    /* Set the color of the countdown text to #dbff4a */
    margin-bottom: 10px;
    /* Add some spacing below the countdown */
    text-align: center;
    /* Center the countdown text */
}
